/* client/src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Add more global styles as needed */

.home, .products, .cart, .checkout, .login, .register {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}
.content-area {
  background-color: #e9edc9;
  padding: 20px; /* Add padding to give some space around the content */
  border-radius: 8px; /* Add border-radius for rounded corners */
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a3b18a;
}
/* App.css */
nav {
  background-color: #344e41;
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.login-btn {
  display: flex;
  align-items: center;
}

.login-btn a {
  text-decoration: none;
  color: white;
}

.login-btn button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn button:hover {
  background-color: #45a049;
}